.project-container {
    border-radius: 10px;
    background-color: lightblue;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
    margin: 10px ;
    /* flex: 1; */
    padding: 10px;
    min-height: 300px;
    max-width: 200px;
}

.my-movie-critic {
    background-image: url('./src/assets/Lauren.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
}

.weather-dashboard {
    background-image: url('./src/assets/Lauren.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
}

.employee-tracker {
    background-image: url('./src/assets/Lauren.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
}