.foot-container {
	display: flex;
	flex: 1;
}

.foot-list {
	display: flex;
	flex: 1;
	flex-direction: row;
	list-style: none;
	justify-content: center;
	align-items: center;
}

.foot-item {
	align-items: center;
	justify-content: center;
	margin: auto;
	svg {
		height: 35px;
		width: 35px;
	}
}

.foot-item a {
	color: inherit;
	text-decoration: none;
}

.foot-item a:visited {
	color: inherit;
}

/* TODO: style other icon */
/* .copyright {
} */

/* .github {
	svg {
		height: 40px;
		width: 40px;
	}
}

.linkedin {
	svg {
		height: 40px;
		width: 40px;
	}
} */

